In [69]:
import pandas as pd

df = pd.read_csv('./data/vgsales.csv')

df

(16598, 11)

In [ ]:
total_element = df.shape[0]
df.shape

In [44]:
# Requête qui retourne tous les jeux sortis sur NES.
filter = df["Platform"] == "NES"
df[filter]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
22,23,Super Mario Bros. 3,NES,1988.0,Platform,Nintendo,9.54,3.44,3.84,0.46,17.28
96,97,Super Mario Bros. 2,NES,1988.0,Platform,Nintendo,5.39,1.18,0.70,0.19,7.46
127,128,The Legend of Zelda,NES,1986.0,Action,Nintendo,3.74,0.93,1.69,0.14,6.51
...,...,...,...,...,...,...,...,...,...,...,...
5862,5864,Famista '91,NES,1990.0,Sports,Namco Bandai Games,0.00,0.00,0.30,0.00,0.30
6161,6163,Famista '92,NES,1991.0,Sports,Namco Bandai Games,0.00,0.00,0.28,0.00,0.28
10309,10311,Final Fantasy I & II,NES,1994.0,Role-Playing,Square,0.00,0.00,0.11,0.00,0.11
11985,11987,Teenage Mutant Ninja Turtles: Tournament Fighters,NES,1992.0,Fighting,Konami Digital Entertainment,0.04,0.01,0.02,0.00,0.07
12636,12638,Adventures of Lolo,NES,1989.0,Puzzle,HAL Laboratory,0.06,0.00,0.00,0.00,0.06

In [39]:
# Requête qui retourne la somme des ventes japonaises de tous les jeux

calculate_sum = 0

for value in df["JP_Sales"]:
    calculate_sum += value

print(calculate_sum)

4392.950000000332

In [43]:
# Requête qui retourne le nombre de jeux sorti à partir de 2008 
filter_by_year = df["Year"] > 2008.0
df[filter_by_year]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
...,...,...,...,...,...,...,...,...,...,...,...
16585,16588,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01
16586,16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.00,0.01,0.00,0.00,0.01
16587,16590,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.00,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01

In [66]:
# Requête qui retourne le pourcentage de jeu Wii.

count_game_wii = 0
total_game = df.shape[0]

for value in df["Platform"]:
    if value == "Wii":
        count_game_wii += 1

result = count_game_wii / total_element
print("{:.2f}".format(result * 100))

7.98

In [56]:
import sqldf

# SQL : Requête qui retourne tous les jeux sortis sur NES.

query_platform = """
SELECT *
FROM df
WHERE Platform like "Nes";
"""
print(query_platform)
result = sqldf.run(query_platform)
print(result)

SELECT *
FROM df
WHERE Platform like "Nes";

    index   Rank                                               Name Platform  \
0       1      2                                  Super Mario Bros.      NES
1       9     10                                          Duck Hunt      NES
2      22     23                                Super Mario Bros. 3      NES
3      96     97                                Super Mario Bros. 2      NES
4     127    128                                The Legend of Zelda      NES
..    ...    ...                                                ...      ...
93   5862   5864                                        Famista '91      NES
94   6161   6163                                        Famista '92      NES
95  10309  10311                               Final Fantasy I & II      NES
96  11985  11987  Teenage Mutant Ninja Turtles: Tournament Fighters      NES
97  12636  12638                                 Adventures of Lolo      NES

      Year         Genre                     Publisher  NA_Sales  EU_Sales  \
0   1985.0      Platform                      Nintendo     29.08      3.58
1   1984.0       Shooter                      Nintendo     26.93      0.63
2   1988.0      Platform                      Nintendo      9.54      3.44
3   1988.0      Platform                      Nintendo      5.39      1.18
4   1986.0        Action                      Nintendo      3.74      0.93
..     ...           ...                           ...       ...       ...
93  1990.0        Sports            Namco Bandai Games      0.00      0.00
94  1991.0        Sports            Namco Bandai Games      0.00      0.00
95  1994.0  Role-Playing                        Square      0.00      0.00
96  1992.0      Fighting  Konami Digital Entertainment      0.04      0.01
97  1989.0        Puzzle                HAL Laboratory      0.06      0.00

    JP_Sales  Other_Sales  Global_Sales
0       6.81         0.77         40.24
1       0.28         0.47         28.31
2       3.84         0.46         17.28
3       0.70         0.19          7.46
4       1.69         0.14          6.51
..       ...          ...           ...
93      0.30         0.00          0.30
94      0.28         0.00          0.28
95      0.11         0.00          0.11
96      0.02         0.00          0.07
97      0.00         0.00          0.06

[98 rows x 12 columns]

In [62]:
# SQL : Requête qui retourne la somme des ventes japonaises de tous les jeux

query_year = """
SELECT sum(JP_Sales)
FROM df;
"""
print(query_year)
result = sqldf.run(query_year)
print(result)

SELECT sum(JP_Sales)
FROM df;

   sum(JP_Sales)
0        1291.02

In [63]:
# SQL : Requête qui retourne le nombre de jeux sorti à partir de 2008.

query_year = """
SELECT *
FROM df
WHERE Year > 2008;
"""
print(query_year)
result = sqldf.run(query_year)
print(result)

SELECT *
FROM df
WHERE Year > 2008;
      index   Rank                                               Name  \
0         3      4                                  Wii Sports Resort
1         8      9                          New Super Mario Bros. Wii
2        14     15                                       Wii Fit Plus
3        15     16                                 Kinect Adventures!
4        16     17                                 Grand Theft Auto V
...     ...    ...                                                ...
6571  16585  16588                                             Breach
6572  16586  16589                     Secret Files 2: Puritas Cordis
6573  16587  16590                           Mezase!! Tsuri Master DS
6574  16589  16592  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...
6575  16596  16599                                         Know How 2

     Platform    Year      Genre               Publisher  NA_Sales  EU_Sales  \
0         Wii  2009.0     Sports                Nintendo     15.75     11.01
1         Wii  2009.0   Platform                Nintendo     14.59      7.06
2         Wii  2009.0     Sports                Nintendo      9.09      8.59
3        X360  2010.0       Misc  Microsoft Game Studios     14.97      4.94
4         PS3  2013.0     Action    Take-Two Interactive      7.01      9.27
...       ...     ...        ...                     ...       ...       ...
6571       PC  2011.0    Shooter               Destineer      0.01      0.00
6572       DS  2009.0  Adventure             Deep Silver      0.00      0.01
6573       DS  2009.0     Sports             Hudson Soft      0.00      0.00
6574      PSV  2016.0     Action         dramatic create      0.00      0.00
6575       DS  2010.0     Puzzle                7G//AMES      0.00      0.01

      JP_Sales  Other_Sales  Global_Sales
0         3.28         2.96         33.00
1         4.70         2.26         28.62
2         2.53         1.79         22.00
3         0.24         1.67         21.82
4         0.97         4.14         21.40
...        ...          ...           ...
6571      0.00         0.00          0.01
6572      0.00         0.00          0.01
6573      0.01         0.00          0.01
6574      0.01         0.00          0.01
6575      0.00         0.00          0.01

[6576 rows x 12 columns]

In [77]:
# SQL : Requête qui retourne le pourcentage de jeu Wii.
query_wii_game = """
SELECT count(*)
FROM df
WHERE Platform like "Wii";
"""

print(query_wii_game)
result = sqldf.run(query_wii_game)
result = (result / total_element) * 100
print(result)

SELECT count(*)
FROM df
WHERE Platform like "Wii";

   count(*)
0   7.98289